*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Helvetica", sans-serif;
    background-color: #f2f2f2 ;
}
.container{
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 10px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);

}
h1{
    text-align: center;
    padding: 20px;
}
p{
    padding: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0 ;
    
}

.button{
    /* justify-content: center; */
    margin-top: 10px;
}

button{
    color: #fff;
    background-color: rgb(92, 193, 92);
    border: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 18px;

}

button:hover{
    background-color: rgb(20, 166, 20);
}
button:active{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)inset;
}
.total{
    margin: 20px 0px;
}

#total{
    font-size: 24px;
    font-weight: bold;
}