body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.banner {
   max-width: 100%;
    height: 90px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
}